@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&family=Rubik:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    width: 100%;
    height: 100%;
    font-family: 'Rubik',sans-serif;
}
a{
    text-decoration: none;
}

/* top nav */
.top-nav{
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
    font-size: 14px;
}
.left-mune{
    display: flex;
    gap:15px;
    color: #222222;
}
.manu-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.line-bar{
    border-left: 1px solid #323232;
}
.login-btn{
    color: #323232;
    text-transform: capitalize;
}

/* top -nav end */

/* nav start */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 150px;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    display: block;
    padding: 30px;
    text-transform: capitalize;
    color: #222222;
    font-size: 14px;
    font-weight: 500;
}
nav ul li a .riben{
    position: absolute;
    top: -11px;
    right: 11px;
    color: #F5F5F5;
    border: none;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 0;
    font-size: 11px;
    font-weight: 700;
    text-transform: capitalize;
    outline: none;
}
.green-riben{
    background-color: #83B735;
}
.yello-riben{
    background-color: #FED700;
}
.riben div{
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    width: 9px;
    height: 15px;
    position: absolute;
    left: 0px;
    top: 20px;
}

.shop-icon{
    display: flex;
    align-items: center;
    gap:15px;


}
.shop-icon span{
    font-size: 35px;
}
.bag-icon{
    position: relative;
}
.shop-icon .bage{
    border: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}


/* nav end */


/* search-box  start*/

.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 150px;
}

.left-btn {
    display: flex;
}
.left-btn .left-btn-categori {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 371px;
	padding: 24px;
	background-color: #FED700;
	border: none;
	color: #F5F5F5;
	font-size: 20px;
	font-weight: 600;
	border-radius: 5px;
}
.left-btn button{
    position: relative;
} 
.left-btn .search-bar-optin{
    display: none;
}
.search-bar-optin{
    width: 100%;
    box-shadow: 0 5px 5px 0 #ddd;
    position: absolute;
    top:62px;
    left: 0%;

}
.left-btn:hover .search-bar-optin{
    display: block;

}
/* .search-bar-optin ul{

} */
.search-bar-optin ul li{
    text-align: left;  
    border-bottom: 1px solid #ccc;
    padding: 10px;

}
.search-bar-optin ul li a{
    
    color: #222222;
    text-transform: capitalize;
    font-weight: 300;
    cursor: pointer;
}
.search-bar-optin ul li a:hover{
    color:#7BA9F7;
}



.mid-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #ccc;
    border-radius: 5px;

}
.left-btn .mid-btn-cetagore{
    background-color:#FFFFFF;
    color: black;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    padding: 8px 15px;
    line-height: 25px;
    font-size: 12.8px;
    height: 60px;

}


.input-search{
    width: 350px;
    padding: 20px;
    text-transform: capitalize;
    display: flex;
    flex-grow: 1;
    border: none;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    outline: none;
}

.s-icon i{
    padding: 24px;
    background-color: #FED700;
    transition: all 0.5s;
}
.s-icon i:hover{
    background-color: #83B735;
}

.line-bar1{
    border: 1px solid #E7E7E7;
    height: 40px;
}




.right-btn{
    width: 359px;
    text-align: center;
    border: 2px solid #e7e7e7;
    padding: 9px 0px;
    transition: all .6s;
}
.right-btn h2{
    text-transform: capitalize;
    color:#0063D1;
}
.right-btn p{
    color: #797979 ;
    text-transform: capitalize;
}
.right-btn:hover{
    background-color: #222222;
}
/* search-box  end*/